html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "brandon-grotesque";
}
a {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
section{
  scroll-snap-align: center;
}